@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-app-region: no-drag;
    overflow: hidden;
  }
}

@font-face {
  font-family: 'misans';
  src: url(/src/assets/font/MiSans-Normal.ttf);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded  bg-slate-200/80 transition-colors dark:bg-neutral-600/80;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300/60 dark:bg-neutral-500/60;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-neutral-800;
  }
}
